
@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.Error != null)
{
    <p style="color: red;">@ViewBag.Error</p>
}
<main class="form-signin w-50 m-auto bg-body-secondary">

<div class="container-fluid text-center mt-5 bg-body-secondary"><h2>PersonalFinanceTracker</h2>
<form method="post">
    <div class="mb-3 d-flex justify-content-center">
        
        <input type="text" name="username" placeholder="username"/>
    </div>
    <div class="mb-3 d-flex justify-content-center text">
        
        <input type="password" name="password" placeholder="password"/>
    </div>
    <div class="d-flex justify-content-center">
    <button class="btn btn-primary mb-1" type="submit">Login</button>
    </div>
</form>
</div>
</main>

