@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is My Simple WebAppapi <a href="https://code-you.org/">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://code-you.org/wp-content/uploads/2023/07/codeyou-logo-wink.gif" class="img-fluid" alt="Code:you">
</div>
